{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

[git]
    autoCommit = true
    autoPush = false

[data]
    email = "chief@beefdisciple.com"
    osid = {{ $osid | quote }}