{{- $osid := .chezmoi.os -}}
{{- $email := "chief@beefdisciple.com" -}}
{{- $bwemail := "chief@beefdisciple.com" -}}
{{- $isWork := false -}}

{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- if not (eq .chezmoi.homeDir "/Users/chief" "/home/chief") -}}
{{-   $isWork = true -}}
{{-   $email = "christopher.najewicz@shutterfly.com" -}}
{{- end -}}

[git]
    autoCommit = true
    autoPush = false

[data]
    bwemail = {{ $bwemail | quote }}
    email = {{ $email | quote }}
    osid = {{ $osid | quote }}
    work = {{ $isWork }}
