export ASDF_GOLANG_MOD_VERSION_ENABLED=true
export CLICOLOR=1
export GITHUB_USERNAME=chiefy
export LANG=en_US.UTF-8
export WORK="${HOME}/Work"
export ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=50

if ! bw login --check &>/dev/null; then
    export BW_SESSION=$(bw login {{ .bwemail }} --raw)
    echo "export BW_SESSION=$BW_SESSION" >>.envrc
fi

{{- if .work -}}
export NODE_EXTRA_CA_CERTS=/usr/local/etc/openssl/certs/zscaler_root_ca.pem
export MAKE_COMMON="${WORK}/re/re-makefiles-common"
export AWS_REGION=us-east-1
{{- end }}

eval $(dircolors)

# BAT config / setup
export BAT_THEME='gruvbox-dark'

# saml2aws config
{{ if .work -}}
# saml2aws autocomplete
eval "$(saml2aws --completion-script-zsh)"
{{- end -}}

# source antidote
{{ if eq .osid "darwin" -}}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{ else -}}
source ${ZDOTDIR:-~}/.antidote/antidote.zsh
{{ end }}
# initialize plugins statically with ${ZDOTDIR:-~}/.zsh_plugins.txt
antidote load

eval "$(oh-my-posh init zsh --config ${HOME}/.oh_my_posh.toml)"

