export ASDF_GOLANG_MOD_VERSION_ENABLED=true
export CLICOLOR=1
export GITHUB_USERNAME=chiefy
export LANG=en_US.UTF-8
export WORK="${HOME}/Work"
export ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=50

if ! bw login --check &>/dev/null || grep BW_SESSION=\$ $HOME/.envrc; then
    bw logout
    s=$(bw login {{ .bwemail }} --raw)
    sed --in-place "s|BW_SESSION=.*|BW_SESSION=${s}|" $HOME/.envrc
    unset s
fi

{{ if .work -}}
export NODE_EXTRA_CA_CERTS=/usr/local/etc/openssl/certs/zscaler_root_ca.pem
export MAKE_COMMON="${WORK}/re/re-makefiles-common"
export AWS_REGION=us-east-1
{{- end }}

eval $(dircolors)

# BAT config / setup
export BAT_THEME='gruvbox-dark'

# saml2aws config
{{ if .work -}}
# saml2aws autocomplete
eval "$(saml2aws --completion-script-zsh)"
{{- end -}}

# source antidote
{{ if eq .osid "darwin" -}}
source $(brew --prefix)/opt/antidote/share/antidote/antidote.zsh
{{ else -}}
if [ -f ${ZDOTDIR:-~}/.antidote/antidote.zsh ]; then 
    source ${ZDOTDIR:-~}/.antidote/antidote.zsh
elif [ -d /usr/share/zsh-antidote ]; then
    source /usr/share/zsh-antidote/antidote.zsh
fi
{{ end }}
# initialize plugins statically with ${ZDOTDIR:-~}/.zsh_plugins.txt
antidote load

eval "$(oh-my-posh init zsh --config ${HOME}/.oh_my_posh.toml)"
